.formContainer {
  width: 370px;
}

.input {
  margin: 20px 0;
}

.buttonHeader {
  padding: 12px 20px;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: 0.3px;
  border: none;
  background-color: #49e295;
  border-radius: 10px;
  font-weight: 500;
  width: 100%;
}
