@font-face {
  font-family: "Helvetica Now Display";
  src: local("Helvetica Now Display Medium"),
    local("Helvetica-Now-Display-Medium"),
    url("./assets/font/HelveticaNowDisplay-Medium.woff2") format("woff2"),
    url("./assets/font/HelveticaNowDisplay-Medium.woff") format("woff"),
    url("./assets/font/HelveticaNowDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Helvetica Now Display";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
