.main {
  background-color: #edf0ef;
}

.container {
  display: grid;
  width: 90%;
  margin: 0 auto;
  padding: 64px;
}

.form {
  display: grid;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.partContainer {
  display: flex;
  gap: 12px;
}

.input {
  font-family: "Helvetica Now Display";
  padding: 8px;
  border-radius: 8px;
  border: 1px solid gray;
  width: 100%;
}

.button {
  cursor: pointer;
  width: fit-content;
  border: 1px solid #49e295;
  background-color: #49e295;
  font-family: "Helvetica Now Display";
  padding: 8px !important;
  border-radius: 8px;
}

.outlinedButton {
  cursor: pointer;
  width: fit-content;
  border: 1px solid #49e295;
  background-color: transparent;
  font-family: "Helvetica Now Display";
  padding: 8px !important;
  border-radius: 8px;
  transition: 600ms;
  &:hover {
    background-color: #bef3d8;
    border: 1px solid #bef3d8;
  }
}

.deleteButton {
  background-color: #f60d0d;
  border: 1px solid #f60d0d;
}

.article {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
